/**
 * @file
 * Custom CSS for ticket designer and selector.
 */

#allocated-seating-tabs {
  width: 100%;
}

#allocated-seating-tabs ul li {
 background-image: none;
 margin: 0;
 padding: 0; 
}
#allocated-seating-tabs ul.allocated-seating-seats li {
  border: 1px solid #ccc;
  float: left;
  width: 20px;
  margin: 1px;
  text-align: center;
  line-height: 20px;
  padding: 5px;
  cursor: move;
}
#allocated-seating-tabs ul.allocated-seating-seats li.moving {
  border-color: #0f0;
}
#allocated-seating-tabs.allocated-seating-seat-select ul.allocated-seating-seats li.not-available {
  min-height: 69px;
  border: none;
  width: 22px;
}
#allocated-seating-tabs ul.allocated-seating-seats.cols-1,
div.floor-front.cols-1 {
  width: 36px;
}
#allocated-seating-tabs ul.allocated-seating-seats.cols-2,
div.floor-front.cols-2 {
  width: 70px;
}
#allocated-seating-tabs ul.allocated-seating-seats.cols-3,
div.floor-front.cols-3 {
  width: 104px;
}
#allocated-seating-tabs ul.allocated-seating-seats.cols-4,
div.floor-front.cols-4 {
  width: 138px;
}
#allocated-seating-tabs ul.allocated-seating-seats.cols-5,
div.floor-front.cols-5 {
  width: 172px;
}
#allocated-seating-tabs ul.allocated-seating-seats.cols-6,
div.floor-front.cols-6 {
  width: 206px;
}
#allocated-seating-tabs ul.allocated-seating-seats.cols-7,
div.floor-front.cols-7 {
  width: 240px;
}
#allocated-seating-tabs ul.allocated-seating-seats.cols-8,
div.floor-front.cols-8 {
  width: 274px;
}
#allocated-seating-tabs ul.allocated-seating-seats.cols-9,
div.floor-front.cols-9 {
  width: 308px;
}
#allocated-seating-tabs ul.allocated-seating-seats.cols-10,
div.floor-front.cols-10 {
  width: 342px;
}
#allocated-seating-tabs ul.allocated-seating-seats.cols-11,
div.floor-front.cols-11 {
  width: 376px;
}
#allocated-seating-tabs ul.allocated-seating-seats.cols-12,
div.floor-front.cols-12 {
  width: 410px;
}
#allocated-seating-tabs ul.allocated-seating-seats.cols-13,
div.floor-front.cols-13 {
  width: 442px;
}
#allocated-seating-tabs ul.allocated-seating-seats.cols-14,
div.floor-front.cols-14 {
  width: 478px;
}
#allocated-seating-tabs ul.allocated-seating-seats.cols-15,
div.floor-front.cols-15 {
  width: 512px;
}
#allocated-seating-tabs ul.allocated-seating-seats.cols-16,
div.floor-front.cols-16 {
  width: 546px;
}
#allocated-seating-tabs ul.allocated-seating-seats.cols-17,
div.floor-front.cols-17 {
  width: 580px;
}
#allocated-seating-tabs ul.allocated-seating-seats.cols-18,
div.floor-front.cols-18 {
  width: 614px;
}
#allocated-seating-tabs ul.allocated-seating-seats.cols-19,
div.floor-front.cols-19 {
  width: 648px;
}
#allocated-seating-tabs ul.allocated-seating-seats.cols-20,
div.floor-front.cols-20 {
  width: 682px;
}
#allocated-seating-tabs ul.allocated-seating-seats.cols-21,
div.floor-front.cols-21 {
  width: 716px;
}
#allocated-seating-tabs ul.allocated-seating-seats.cols-22,
div.floor-front.cols-22 {
  width: 750px;
}
#allocated-seating-tabs ul.allocated-seating-seats.cols-23,
div.floor-front.cols-23 {
  width: 784px;
}

div.floor-front {
  border: 1px solid #CCCCCC;
  clear: left;
  margin: 10px 0 10px -2px;
  padding: 5px 0;
  text-align: center;
}

.clear {
  clear: left;
}
#allocated-seating-tabs ul.allocated-seating-seats.no-drag li {
  cursor: auto;
}
.allocated-seating-seat-design .ui-tabs-panel .form-item {
  width: 110px;
  float: left;
  display: inline;
  margin: 0 5px 10px;
}
ul.allocated-seating-seats {
  clear:left;
}
.as-wrap .as-description {
  float: left;
  width: 45%;
  margin: 10px;
}
.allocated-seating-design-add-floor {
  float: left;
  clear: left;
}
